
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body" *ngIf="tipoCatas.length > 0">
        <h5 class="card-title">
          Cual Carta ?
        </h5>

        <table class="table table-hover" >
          <thead>
            <th></th>
            <th></th>
            <th></th>

          </thead>
          <tbody>
            <tr *ngFor = "let tipoCata of tipoCatas">
              <td> {{ tipoCata.nombre }} </td>
              <td>
                <button (click)="verPdf(tipoCata)" class="btn btn-primary"><i class="fa fa-file-text-o"></i></button>

              </td>
              <td>
                <button (click)="generarPdf(tipoCata)" class="btn btn-link"><i class="fa fa-download"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>




